.MainMenu .navbar-brand{
    color: white; 
    padding: 12px;
    size: 20px;
    font-weight: bold;
    background-color: #009ED2;
    font: Times;
}



p{
 font: Times;
 font-size: 15xpx; 
}

img{
	padding: 13px;
}

.left_col {
	margin-bottom: 40px;
	margin-top: 40px;
	background-color: #F4F4F4;
	padding: 15px; 
}

body{
	background-color: #BFBFBF
}